{% load static %}
<footer id="footer_tela_principal">
    <div class="conteudo-footer">
        <div class="geral-footer">
             <p>© 2025 La belle bijou – Todos os<br>direitos reservados.</p>
             <p>CNPJ:<br>63.083.626/0001-29</p>
        </div>
        <div class="redes-footer">
            <h3>CONECTE-SE CONOSCO</h3>
            <a href="labellebijoo@gmail.com">
                labellebijoo@gmail.com
                <img src="{% static 'img/dourado_email.png' %}" alt="">
            </a>
            <a href="">
                Instagram
                <img src="{% static 'img/dourado_instagram.png' %}" alt="">
            </a>
            <a href="">
                Tiktok
                <img src="{% static 'img/dourado_tiktok.png' %}" alt="">
            </a>
        </div>
    </div>
</footer>