{% load static %}
<footer id="footer_tela_principal">
    <div class="conteudo-footer">
        <h2>CNPJ: 63.083.626/0001-29</h2>
        <h1>© 2025 La belle bijou – Todos os direitos reservados.</h1>
        <div class="redes">
            <a href="labellebijoo@gmail.com"><img src="{% static 'img/email.png' %}" alt="">labellebijoo@gmail.com</a>
            <a href=""><img src="{% static 'img/instagram.png' %}" alt="">Instagram</a>
            <a href=""><img src="{% static 'img/tiktok.png' %}" alt="">Tiktok</a>
        </div>
    </div>
</footer>