{% load static %}
<!-- Como o design dos footers é muito diferente entre os layouts existe um footer
para cada layout, no layout desktop aparece um footer e no layout mobile aparece
outro footer, respectivamente: footer_tela_principal e footer_mobile -->

<footer id="footer_tela_principal">
    <div class="conteudo-footer">
        <div class="geral-footer">
            <p>© 2025 La belle bijou – Todos os<br>direitos reservados.</p>
            <p><strong>CNPJ:</strong><br>63.083.626/0001-29</p>
        </div>
        <img src="{% static 'img/logo_teste.png' %}" alt="" class="logo-footer">
        <div class="redes-footer">
            <h3><strong>CONECTE-SE CONOSCO</strong></h3>
            <a href="mailto:labellebijoo@gmail.com">
                labellebijoo@gmail.com
                <img src="{% static 'img/dourado_email.png' %}" alt="">
            </a>
            <a href="https://www.instagram.com/labellebijoo/#" target="_blank" rel="noopener noreferrer">
                labellebijoo
                <img src="{% static 'img/dourado_instagram.png' %}" alt="">
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">
                Tiktok
                <img src="{% static 'img/dourado_tiktok.png' %}" alt="">
            </a>
        </div>
    </div>
</footer>

<footer id="footer_mobile">
    <div class="conteudo-footer">
        <div class="geral-footer">
            <p>© 2025 La belle bijou – Todos os direitos reservados.</p>
            <p><strong>CNPJ:</strong> 63.083.626/0001-29</p>
        </div>
        <div class="redes-footer">
            <a href="mailto:labellebijoo@gmail.com">
                <img src="{% static 'img/dourado_email.png' %}" alt="">
                labellebijoo@gmail.com
            </a>
            <a href="https://www.instagram.com/labellebijoo/#" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/dourado_instagram.png' %}" alt="">
                labellebijoo
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/dourado_tiktok.png' %}" alt="">
                Tiktok
            </a>
        </div>
        <h3><strong>Conecte-se conosco!</strong></h3>
    </div>
</footer>