{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labelle Bijou - Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>
    <div class="cadastro-container">
        <!-- Lado esquerdo com logo -->
        <div class="logo-side">
            <div class="logo-content">
                <p>Cadastre-se e fique por dentro das nossas ofertas</p>
            </div>
        </div>
        
        <!-- Lado direito com formulário -->
        <div class="form-side">
            <h2>Crie sua conta!</h2>
            <p class="subtitle">Preencha seus dados abaixo</p>
            
            <form method="post">
                {% csrf_token %}

                <div class="input-group">
                    {{ form.username.errors }}
                    {{ form.username }}
                </div>
                <div class="input-group">
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>
                <div class="input-group">
                    {{ form.cpf.errors }}
                    {{ form.cpf }}
                </div>
                <div class="input-group">
                    {{ form.telefone.errors }}
                    {{ form.telefone }}
                </div>
                <div class="input-group">
                    {{ form.password.errors }}
                    {{ form.password }}
                </div>
                <div class="input-group">
                    {{ form.password_confirm }}
                    {{ form.password_confirm.errors }}
                </div>

                <button type="submit">Criar conta</button>
            </form>
            
            <div class="login-link">
                Já tem uma conta? <a href="{% url 'login' %}">clique aqui para entrar</a>
            </div>
        </div>
    </div>
    <script src="{% static 'js/formatacao.js' %}"></script>
</body>
</html>
