{% load socialaccount %}

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labelle Bijou - Login</title>
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>
    <div class="cadastro-container">
        <!-- Lado esquerdo com logo -->
        <div class="logo-side">
            <div class="logo-content">
                <p>Entre e fique por dentro das nossas ofertas</p>
            </div>
        </div>
        
        <!-- Lado direito com formulário -->
        <div class="form-side">
            <h2>Faça login!</h2>
            <p class="subtitle">Entre com seus dados abaixo</p>
            
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="username" placeholder="Email" required><br>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Senha" required><br>
                </div>
                {% if form.non_field_errors %}
                    <div class="error-message">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %} 
                <a href="{% url 'reset-senha' %}">Esqueci minha senha</a>
                <button type="submit">Entrar</button>
            </form>
            
            <div class="login-link">
                Não tem uma conta? <a href="{% url 'register' %}">clique aqui para cadastrar</a>
            </div>
            <a href='{% provider_login_url 'google' %}' class='google'>
                <img class="google-icon" src="../../static/img/google.png" alt="Google logo">
                | Entrar com Google
            </a>
        </div>
    </div>
</body>
</html>