/* home.css */
.home-content {
    padding: 2rem 0;
    min-height: calc(100vh - 15vh - 24vh);
}

.welcome-message {
    text-align: center;
    margin-bottom: 2rem;
}

.welcome-message h1 {
    color: #252A36;
    font-weight: normal;
    font-size: 1.5rem;
}

.produtos-grid {
    max-width: 75vw;
    margin: 0 auto;
}

.produto-card {
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1.3rem;
    flex: 0 0 calc((80vw - 2*2vw - 3vw)/4); /* 2*2vw = padding, 3vw = gap entre 4 cards */
    cursor: pointer;
    transition: all 0.3s;
    background-color: #fff;
    margin-top: 3vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    & img {
        width: 100%; /* ajusta à largura do card */
        height: auto;
        object-fit: cover;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    & h3 {
        color: #252A36;
        margin-top: 1.5rem;
        font-weight: normal;
        font-size: 1.6rem;
    }

    & button {
        position: relative;
        width: 0;
        height: 0;
        opacity: 0;
        border-radius: 10px;
        transition: width 0.1s, height 0.1s;
        display: flex;
        justify-self: center;
        justify-content: center;

        & p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0;
            color: #fff;
        }
    }
}

.produto-card:hover {
    transform: translateY(-5px);

    & button {
        width: 80%;
        height: 5vh;
        opacity: 1;
        background-color: #252A36;
        margin: 3vh auto 1vh auto;

        & p {
            font-size: 1.3rem;
        }
    }
}

.preco {
    font-size: 1.2rem;
    color: #252A36;
    font-weight: bold;
    margin: 0;
}

#carouselExampleIndicators {
    width: 80vw;
    margin: 3vh auto auto;
}

.imgs-menores {
    width: 80vw;
    border-radius: 3rem;
}

.carousel-control-prev-icon {
    width: 5vw;
    height: 5vw;
    background-size: 5vw;
}

.carousel-control-next-icon {
    width: 5vw;
    height: 5vw;
    background-size: 5vw;
}

#subtitulo {
    width: 90vw;
    color: #757575;
    border-bottom: 3px solid #757575;
    margin: 3vh auto auto auto;
}

#footer_tela_principal {
    height: 24vh;

    & .conteudo-footer {
        height: 16vh;
    }
}

.container-geral {
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.carousel-track {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
    gap: 1vw;
}

.hidden {
    overflow: hidden;
    width: 80vw;
    padding: 6vh 2vw;
}

.carousel-btn {
    width: 3.5vw;
    height: 3.5vw;
    background: #00000080;
    font-size: 3rem;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s, transform 0.2s;
}

.carousel-btn:hover {
    background: #000000b3;
     transform: scale(1.1);
}