{% extends 'dashboard/base_adm.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/criar_produto.css' %}">
{% endblock %}

{% block header_title %}
<h1 class="text-3xl font-semibold text-gray-100 mb-2">Criar Nova Categoria</h1>
{% endblock %}

{% block header_desc %}
<p class="text-gray-400 mb-8">Preencha o nome da nova categoria abaixo.</p>
{% endblock %}

{% block conteudo %}
<div class="flex items-center justify-center p-8">

    <div class="bg-gray-100 rounded-2xl shadow-lg p-8 w-full max-w-2xl">

        <form method="post">
            {% csrf_token %}

            <h2 class="text-lg mb-6">Detalhes da Categoria</h2>


            <div class="mb-4">
                <label for="{{ form.nome.id_for_label }}">Nome da Categoria</label>
                {{ form.nome }}
                {{ form.nome.errors }}
            </div>
            <div class="flex justify-end gap-3 mt-8">
                <a href="{% url 'categorias-adm' %}" class="btn-cancelar">Cancelar</a>
                <button type="submit" class="btn-salvar">Salvar Categoria</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}