<div class="container mt-4">
    <h2>Editar Pedido</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'pedidos-adm' %}" class="btn btn-secondary">Cancelar</a>
    </form>

    
    <h3>Itens do Pedido</h3>
    <table class="table">
    <thead>
        <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço Unitário</th>
        <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in itens_pedido %}
            <tr>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ item.preco_unitario }}</td>
            <td>R$ {{ pedido.valor_total }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>